<div class="container">
  <%= form_for @forecast_request, url: '#' do |f| %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :base_currency, "Base Currency" %>
        <%= f.select :base_currency,
              options_for_select(ForecastRequest.supported_currencies, @forecast_request.base_currency),
              { include_blank: true, required: true },
              { class: field_class_name(@forecast_request, :base_currency) } %>

        <%= field_errors @forecast_request, :base_currency %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :target_currency, "Target Currency" %>
        <%= f.select :target_currency,
              options_for_select(ForecastRequest.supported_currencies, @forecast_request.target_currency),
              { include_blank: true, required: true },
              { class: field_class_name(@forecast_request, :target_currency) } %>

        <%= field_errors @forecast_request, :target_currency %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :amount, "Amount" %>
        <%= f.number_field :amount, required: true, class: field_class_name(@forecast_request, :amount) %>

        <%= field_errors @forecast_request, :amount %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :waiting_time, "Max waiting time" %>
        <%= f.number_field :waiting_time,
              required: true,
              in: 1..255, class: field_class_name(@forecast_request, :waiting_time) %>

        <%= field_errors @forecast_request, :waiting_time %>
      </div>
    </div>
    <%= f.hidden_field :user_id %>

    <%= yield %>

  <% end %>
</div>